@import url(../reindeer/styles.css);



.v-polygonrenderer {
	
	width: 900px;	
}
.v-editorcanvas {

	background: url('img/grid.png');
	
	float:right;
	clear:right;
	border-color: black;	
}

.v-rendercanvas {

	float:left;
	clear:left;	
	border: medium;
	border-color: black;	
}

